In [2]:
import os
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import MultipleLocator

In [3]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /Users/justhaji/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: openpyxl in /Users/justhaji/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/justhaji/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/justhaji/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/justhaji/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/justhaji/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: et_xmlfile in /Users/justhaji/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /Users/justhaji/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
def convert_xlsx_to_csv(input_file: str, output_file: str) -> None:
    df = pd.read_excel(input_file, engine='openpyxl')
    df.to_csv(output_file, index=False)

input_file = 'close_and_volume.xlsx'
output_file = 'close_and_volume.csv'
convert_xlsx_to_csv(input_file, output_file)

In [5]:
df = pd.read_csv('close_and_volume.csv')

In [6]:
df

,Unnamed: 0,AFL,Unnamed: 2,ALB,Unnamed: 4,AOS,Unnamed: 6,APD,Unnamed: 8,ATO,...,TGT,Unnamed: 72,TROW,Unnamed: 74,WMT,Unnamed: 76,WST,Unnamed: 78,XOM,Unnamed: 80
0,Date,Close,Volume,Close,Volume,Close,Volume,Close,Volume,Close,...,Close,Volume,Close,Volume,Close,Volume,Close,Volume,Close,Volume
1,2019-04-01 00:00:00,49.880001,4066200,84.199997,1439100,53.990002,1299800,191.490005,1134700,102.07,...,79.970001,4733900,103.300003,1802700,32.606667,25517400,111.779999,608500,81.730003,10816400
2,2019-04-02 00:00:00,49.25,3630100,82.900002,1782900,54.049999,1030800,190.479996,1198700,100.169998,...,79.459999,2909200,103.269997,687000,32.313332,18822000,111.269997,337600,81.379997,7646000
3,2019-04-03 00:00:00,48.759998,5489300,84.209999,1976500,54.5,1065500,191.720001,1080800,101.510002,...,79.309998,3251700,103.300003,948600,32.396667,17062500,111.800003,473500,80.900002,8562900
4,2019-04-04 00:00:00,48.779999,2525200,85.550003,1544500,54.82,879400,191.770004,852200,100.639999,...,81.379997,4396200,103.010002,646500,32.703335,12078900,111.860001,364000,82.050003,9360600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2024-04-23 00:00:00,83.75,1764500,114.209999,1782700,87.919998,695200,233.710007,1175200,117.669998,...,166.509995,1890300,111.940002,1317400,59.09,17963900,390.200012,427100,121.029999,13929800
1276,2024-04-24 00:00:00,84.279999,2431500,115.269997,2235300,87,1267300,234.679993,1297300,118.660004,...,165.339996,2631400,111.059998,1053900,59.869999,18529100,385.730011,757300,121.050003,12101200
1277,2024-04-25 00:00:00,83.730003,1849600,114.980003,1421100,82.82,2381000,235.080002,1037600,118.169998,...,164.440002,3141700,108.830002,2161400,60.209999,19263000,368.179993,742400,121.330002,16041000
1278,2024-04-26 00:00:00,83.610001,1838800,116.879997,1723600,83.209999,1316200,236.080002,1251400,116.93,...,164.740005,2085500,114.019997,2943300,60.16,11045200,360.429993,603100,117.959999,27289500
1279,2024-04-29 00:00:00,84.540001,2001600,125.730003,3866300,84.309998,1479000,238.119995,1623400,118.639999,...,163.729996,2698500,112.080002,1962700,60.240002,9785100,354.410004,511900,119.639999,17309900

In [7]:
df.columns

Index(['Unnamed: 0', 'AFL', 'Unnamed: 2', 'ALB', 'Unnamed: 4', 'AOS',
       'Unnamed: 6', 'APD', 'Unnamed: 8', 'ATO', 'Unnamed: 10', 'BF-B',
       'Unnamed: 12', 'BRO', 'Unnamed: 14', 'CHRW', 'Unnamed: 16', 'CINF',
       'Unnamed: 18', 'CL', 'Unnamed: 20', 'CLX', 'Unnamed: 22', 'CVX',
       'Unnamed: 24', 'DOV', 'Unnamed: 26', 'ESS', 'Unnamed: 28', 'EXPD',
       'Unnamed: 30', 'FRT', 'Unnamed: 32', 'GWW', 'Unnamed: 34', 'HRL',
       'Unnamed: 36', 'IBM', 'Unnamed: 38', 'ITW', 'Unnamed: 40', 'JNJ',
       'Unnamed: 42', 'KMB', 'Unnamed: 44', 'KO', 'Unnamed: 46', 'LOW',
       'Unnamed: 48', 'MKC', 'Unnamed: 50', 'MMM', 'Unnamed: 52', 'NUE',
       'Unnamed: 54', 'NVDA', 'Unnamed: 56', 'O', 'Unnamed: 58', 'PNR',
       'Unnamed: 60', 'PPG', 'Unnamed: 62', 'ROP', 'Unnamed: 64', 'SPGI',
       'Unnamed: 66', 'SWK', 'Unnamed: 68', 'SYY', 'Unnamed: 70', 'TGT',
       'Unnamed: 72', 'TROW', 'Unnamed: 74', 'WMT', 'Unnamed: 76', 'WST',
       'Unnamed: 78', 'XOM', 'Unnamed: 80'],
      dtype='object')

In [8]:

# Date 열에서 '시간' 제거
def remove_time_from_date(df: pd.DataFrame, date_column: str) -> pd.DataFrame:
    """
    DataFrame의 특정 열에서 시간 부분을 제거하고 연-월-일 형식으로 변환합니다.

    :param df: 변환할 DataFrame.
    :param date_column: 변환할 날짜 열의 이름.
    :return: 변환된 DataFrame.
    """
    # 첫 행을 제거한 후 datetime 형식으로 변환한 다음, 날짜 부분만 추출
    df = df.iloc[1:].copy()
    df[date_column] = pd.to_datetime(df[date_column]).dt.date
    return df

# 시간 부분을 제거하고 연-월-일 형식으로 변환
df = remove_time_from_date(df, 'Unnamed: 0')

df

,Unnamed: 0,AFL,Unnamed: 2,ALB,Unnamed: 4,AOS,Unnamed: 6,APD,Unnamed: 8,ATO,...,TGT,Unnamed: 72,TROW,Unnamed: 74,WMT,Unnamed: 76,WST,Unnamed: 78,XOM,Unnamed: 80
1,2019-04-01,49.880001,4066200,84.199997,1439100,53.990002,1299800,191.490005,1134700,102.07,...,79.970001,4733900,103.300003,1802700,32.606667,25517400,111.779999,608500,81.730003,10816400
2,2019-04-02,49.25,3630100,82.900002,1782900,54.049999,1030800,190.479996,1198700,100.169998,...,79.459999,2909200,103.269997,687000,32.313332,18822000,111.269997,337600,81.379997,7646000
3,2019-04-03,48.759998,5489300,84.209999,1976500,54.5,1065500,191.720001,1080800,101.510002,...,79.309998,3251700,103.300003,948600,32.396667,17062500,111.800003,473500,80.900002,8562900
4,2019-04-04,48.779999,2525200,85.550003,1544500,54.82,879400,191.770004,852200,100.639999,...,81.379997,4396200,103.010002,646500,32.703335,12078900,111.860001,364000,82.050003,9360600
5,2019-04-05,49,3149900,86.139999,1424500,55.169998,806500,193.190002,769200,101.529999,...,80.940002,4234600,104.440002,1035000,32.943333,13968000,112.870003,291800,82.489998,10059100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2024-04-23,83.75,1764500,114.209999,1782700,87.919998,695200,233.710007,1175200,117.669998,...,166.509995,1890300,111.940002,1317400,59.09,17963900,390.200012,427100,121.029999,13929800
1276,2024-04-24,84.279999,2431500,115.269997,2235300,87,1267300,234.679993,1297300,118.660004,...,165.339996,2631400,111.059998,1053900,59.869999,18529100,385.730011,757300,121.050003,12101200
1277,2024-04-25,83.730003,1849600,114.980003,1421100,82.82,2381000,235.080002,1037600,118.169998,...,164.440002,3141700,108.830002,2161400,60.209999,19263000,368.179993,742400,121.330002,16041000
1278,2024-04-26,83.610001,1838800,116.879997,1723600,83.209999,1316200,236.080002,1251400,116.93,...,164.740005,2085500,114.019997,2943300,60.16,11045200,360.429993,603100,117.959999,27289500
1279,2024-04-29,84.540001,2001600,125.730003,3866300,84.309998,1479000,238.119995,1623400,118.639999,...,163.729996,2698500,112.080002,1962700,60.240002,9785100,354.410004,511900,119.639999,17309900

In [9]:
df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)

df

,Date,AFL,Unnamed: 2,ALB,Unnamed: 4,AOS,Unnamed: 6,APD,Unnamed: 8,ATO,...,TGT,Unnamed: 72,TROW,Unnamed: 74,WMT,Unnamed: 76,WST,Unnamed: 78,XOM,Unnamed: 80
1,2019-04-01,49.880001,4066200,84.199997,1439100,53.990002,1299800,191.490005,1134700,102.07,...,79.970001,4733900,103.300003,1802700,32.606667,25517400,111.779999,608500,81.730003,10816400
2,2019-04-02,49.25,3630100,82.900002,1782900,54.049999,1030800,190.479996,1198700,100.169998,...,79.459999,2909200,103.269997,687000,32.313332,18822000,111.269997,337600,81.379997,7646000
3,2019-04-03,48.759998,5489300,84.209999,1976500,54.5,1065500,191.720001,1080800,101.510002,...,79.309998,3251700,103.300003,948600,32.396667,17062500,111.800003,473500,80.900002,8562900
4,2019-04-04,48.779999,2525200,85.550003,1544500,54.82,879400,191.770004,852200,100.639999,...,81.379997,4396200,103.010002,646500,32.703335,12078900,111.860001,364000,82.050003,9360600
5,2019-04-05,49,3149900,86.139999,1424500,55.169998,806500,193.190002,769200,101.529999,...,80.940002,4234600,104.440002,1035000,32.943333,13968000,112.870003,291800,82.489998,10059100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2024-04-23,83.75,1764500,114.209999,1782700,87.919998,695200,233.710007,1175200,117.669998,...,166.509995,1890300,111.940002,1317400,59.09,17963900,390.200012,427100,121.029999,13929800
1276,2024-04-24,84.279999,2431500,115.269997,2235300,87,1267300,234.679993,1297300,118.660004,...,165.339996,2631400,111.059998,1053900,59.869999,18529100,385.730011,757300,121.050003,12101200
1277,2024-04-25,83.730003,1849600,114.980003,1421100,82.82,2381000,235.080002,1037600,118.169998,...,164.440002,3141700,108.830002,2161400,60.209999,19263000,368.179993,742400,121.330002,16041000
1278,2024-04-26,83.610001,1838800,116.879997,1723600,83.209999,1316200,236.080002,1251400,116.93,...,164.740005,2085500,114.019997,2943300,60.16,11045200,360.429993,603100,117.959999,27289500
1279,2024-04-29,84.540001,2001600,125.730003,3866300,84.309998,1479000,238.119995,1623400,118.639999,...,163.729996,2698500,112.080002,1962700,60.240002,9785100,354.410004,511900,119.639999,17309900

### Close data

In [10]:
data = df.copy()

selected_columns = [data.columns[0]] + data.columns[1::2].tolist()
close = data[selected_columns]

close

,Date,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
1,2019-04-01,49.880001,84.199997,53.990002,191.490005,102.07,53.59,29.799999,88.300003,86.309998,...,114.220001,347.929993,212.899994,139.509995,66.779999,79.970001,103.300003,32.606667,111.779999,81.730003
2,2019-04-02,49.25,82.900002,54.049999,190.479996,100.169998,52.900002,29.66,88.489998,85.519997,...,114.239998,348.269989,213.220001,139.300003,66.330002,79.459999,103.269997,32.313332,111.269997,81.379997
3,2019-04-03,48.759998,84.209999,54.5,191.720001,101.510002,52.66,29.75,88.699997,85.470001,...,114.580002,347,213.600006,140.75,66.470001,79.309998,103.300003,32.396667,111.800003,80.900002
4,2019-04-04,48.779999,85.550003,54.82,191.770004,100.639999,53.09,29.940001,89.230003,85.650002,...,115,345.160004,212.649994,142.940002,66.860001,81.379997,103.010002,32.703335,111.860001,82.050003
5,2019-04-05,49,86.139999,55.169998,193.190002,101.529999,53.220001,29.93,89.459999,86.220001,...,114.959999,345.48999,214.529999,142.789993,67.139999,80.940002,104.440002,32.943333,112.870003,82.489998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2024-04-23,83.75,114.209999,87.919998,233.710007,117.669998,49.389999,82.93,70.349998,120.830002,...,130.429993,539.619995,413.26001,90.739998,76.959999,166.509995,111.940002,59.09,390.200012,121.029999
1276,2024-04-24,84.279999,115.269997,87,234.679993,118.660004,49.009998,82.129997,70.940002,119.919998,...,130.520004,538.01001,413.279999,90.269997,77.290001,165.339996,111.059998,59.869999,385.730011,121.050003
1277,2024-04-25,83.730003,114.980003,82.82,235.080002,118.169998,48.110001,82.279999,70.260002,118.440002,...,129.229996,540.409973,415.5,88.830002,77.07,164.440002,108.830002,60.209999,368.179993,121.330002
1278,2024-04-26,83.610001,116.879997,83.209999,236.080002,116.93,48.130001,81.459999,70.220001,110.879997,...,130.160004,526.780029,415.779999,89.709999,77.07,164.740005,114.019997,60.16,360.429993,117.959999
1279,2024-04-29,84.540001,125.730003,84.309998,238.119995,118.639999,48.689999,81.540001,71.699997,113.550003,...,130.740005,513.580017,415.309998,90.959999,77.220001,163.729996,112.080002,60.240002,354.410004,119.639999

In [11]:
output_path = 'close.csv' 
close.to_csv(output_path, index=False)

### Volume data

In [12]:
data2 = df.copy()

selected_columns = [data2.columns[0]] + data2.columns[2::2].tolist()
volume = data2[selected_columns]

volume

,Date,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,...,Unnamed: 62,Unnamed: 64,Unnamed: 66,Unnamed: 68,Unnamed: 70,Unnamed: 72,Unnamed: 74,Unnamed: 76,Unnamed: 78,Unnamed: 80
1,2019-04-01,4066200,1439100,1299800,1134700,684400,1010700,634300,695500,526700,...,1526100,540100,1136000,1221000,1774100,4733900,1802700,25517400,608500,10816400
2,2019-04-02,3630100,1782900,1030800,1198700,2501900,793700,715300,1268600,423000,...,961900,391100,719900,640100,1859700,2909200,687000,18822000,337600,7646000
3,2019-04-03,5489300,1976500,1065500,1080800,827900,852300,807600,1178100,571100,...,1284100,487900,896400,875600,1845800,3251700,948600,17062500,473500,8562900
4,2019-04-04,2525200,1544500,879400,852200,541400,683000,784800,659300,358100,...,1301900,477700,605200,960500,2490500,4396200,646500,12078900,364000,9360600
5,2019-04-05,3149900,1424500,806500,769200,598500,675300,608900,476200,505600,...,837800,391000,743500,1153300,1781700,4234600,1035000,13968000,291800,10059100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2024-04-23,1764500,1782700,695200,1175200,657500,1420100,1902800,843200,528500,...,2730600,381500,2356300,1095500,2129600,1890300,1317400,17963900,427100,13929800
1276,2024-04-24,2431500,2235300,1267300,1297300,728000,1641400,1520900,1136000,601900,...,1896300,631600,3357300,1282500,1765200,2631400,1053900,18529100,757300,12101200
1277,2024-04-25,1849600,1421100,2381000,1037600,523300,1689300,1608800,2364300,717100,...,1764100,552900,2418900,2399200,2326700,3141700,2161400,19263000,742400,16041000
1278,2024-04-26,1838800,1723600,1316200,1251400,733100,998600,1710300,1026300,2184600,...,1370800,856100,1611500,1484000,2072300,2085500,2943300,11045200,603100,27289500
1279,2024-04-29,2001600,3866300,1479000,1623400,618800,1371400,1167500,1640700,1372400,...,848600,698100,1526500,1118100,3088500,2698500,1962700,9785100,511900,17309900

In [13]:
close.columns

Index(['Date', 'AFL', 'ALB', 'AOS', 'APD', 'ATO', 'BF-B', 'BRO', 'CHRW',
       'CINF', 'CL', 'CLX', 'CVX', 'DOV', 'ESS', 'EXPD', 'FRT', 'GWW', 'HRL',
       'IBM', 'ITW', 'JNJ', 'KMB', 'KO', 'LOW', 'MKC', 'MMM', 'NUE', 'NVDA',
       'O', 'PNR', 'PPG', 'ROP', 'SPGI', 'SWK', 'SYY', 'TGT', 'TROW', 'WMT',
       'WST', 'XOM'],
      dtype='object')

In [14]:
df = volume.copy()


# 새로운 열 이름 목록
new_column_names = ['Date', 'AFL', 'ALB', 'AOS', 'APD', 'ATO', 'BF-B', 'BRO', 'CHRW',
       'CINF', 'CL', 'CLX', 'CVX', 'DOV', 'ESS', 'EXPD', 'FRT', 'GWW', 'HRL',
       'IBM', 'ITW', 'JNJ', 'KMB', 'KO', 'LOW', 'MKC', 'MMM', 'NUE', 'NVDA',
       'O', 'PNR', 'PPG', 'ROP', 'SPGI', 'SWK', 'SYY', 'TGT', 'TROW', 'WMT',
       'WST', 'XOM']

# 열 이름 변경
df.columns = new_column_names

volume = df

volume

,Date,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
1,2019-04-01,4066200,1439100,1299800,1134700,684400,1010700,634300,695500,526700,...,1526100,540100,1136000,1221000,1774100,4733900,1802700,25517400,608500,10816400
2,2019-04-02,3630100,1782900,1030800,1198700,2501900,793700,715300,1268600,423000,...,961900,391100,719900,640100,1859700,2909200,687000,18822000,337600,7646000
3,2019-04-03,5489300,1976500,1065500,1080800,827900,852300,807600,1178100,571100,...,1284100,487900,896400,875600,1845800,3251700,948600,17062500,473500,8562900
4,2019-04-04,2525200,1544500,879400,852200,541400,683000,784800,659300,358100,...,1301900,477700,605200,960500,2490500,4396200,646500,12078900,364000,9360600
5,2019-04-05,3149900,1424500,806500,769200,598500,675300,608900,476200,505600,...,837800,391000,743500,1153300,1781700,4234600,1035000,13968000,291800,10059100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2024-04-23,1764500,1782700,695200,1175200,657500,1420100,1902800,843200,528500,...,2730600,381500,2356300,1095500,2129600,1890300,1317400,17963900,427100,13929800
1276,2024-04-24,2431500,2235300,1267300,1297300,728000,1641400,1520900,1136000,601900,...,1896300,631600,3357300,1282500,1765200,2631400,1053900,18529100,757300,12101200
1277,2024-04-25,1849600,1421100,2381000,1037600,523300,1689300,1608800,2364300,717100,...,1764100,552900,2418900,2399200,2326700,3141700,2161400,19263000,742400,16041000
1278,2024-04-26,1838800,1723600,1316200,1251400,733100,998600,1710300,1026300,2184600,...,1370800,856100,1611500,1484000,2072300,2085500,2943300,11045200,603100,27289500
1279,2024-04-29,2001600,3866300,1479000,1623400,618800,1371400,1167500,1640700,1372400,...,848600,698100,1526500,1118100,3088500,2698500,1962700,9785100,511900,17309900

In [15]:
output_path = 'volume.csv' 
volume.to_csv(output_path, index=False)

### 월별 VWAP

In [16]:
close = pd.read_csv('close.csv')
volume = pd.read_csv('volume.csv')

In [17]:
close.head()

,Date,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,2019-04-01,49.880001,84.199997,53.990002,191.490005,102.070000,53.590000,29.799999,88.300003,86.309998,...,114.220001,347.929993,212.899994,139.509995,66.779999,79.970001,103.300003,32.606667,111.779999,81.730003
1,2019-04-02,49.250000,82.900002,54.049999,190.479996,100.169998,52.900002,29.660000,88.489998,85.519997,...,114.239998,348.269989,213.220001,139.300003,66.330002,79.459999,103.269997,32.313332,111.269997,81.379997
2,2019-04-03,48.759998,84.209999,54.500000,191.720001,101.510002,52.660000,29.750000,88.699997,85.470001,...,114.580002,347.000000,213.600006,140.750000,66.470001,79.309998,103.300003,32.396667,111.800003,80.900002
3,2019-04-04,48.779999,85.550003,54.820000,191.770004,100.639999,53.090000,29.940001,89.230003,85.650002,...,115.000000,345.160004,212.649994,142.940002,66.860001,81.379997,103.010002,32.703335,111.860001,82.050003
4,2019-04-05,49.000000,86.139999,55.169998,193.190002,101.529999,53.220001,29.930000,89.459999,86.220001,...,114.959999,345.489990,214.529999,142.789993,67.139999,80.940002,104.440002,32.943333,112.870003,82.489998

In [18]:
volume.head()

,Date,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,2019-04-01,4066200,1439100,1299800,1134700,684400,1010700,634300,695500,526700,...,1526100,540100,1136000,1221000,1774100,4733900,1802700,25517400,608500,10816400
1,2019-04-02,3630100,1782900,1030800,1198700,2501900,793700,715300,1268600,423000,...,961900,391100,719900,640100,1859700,2909200,687000,18822000,337600,7646000
2,2019-04-03,5489300,1976500,1065500,1080800,827900,852300,807600,1178100,571100,...,1284100,487900,896400,875600,1845800,3251700,948600,17062500,473500,8562900
3,2019-04-04,2525200,1544500,879400,852200,541400,683000,784800,659300,358100,...,1301900,477700,605200,960500,2490500,4396200,646500,12078900,364000,9360600
4,2019-04-05,3149900,1424500,806500,769200,598500,675300,608900,476200,505600,...,837800,391000,743500,1153300,1781700,4234600,1035000,13968000,291800,10059100

In [19]:
def calculate_monthly_vwap(close_df: pd.DataFrame, volume_df: pd.DataFrame) -> pd.DataFrame:
    """
    주어진 'close' 및 'volume' 데이터프레임을 사용하여 티커별 월별 VWAP(거래량 가중 평균 가격)을 계산합니다.

    Args:
        close_df (pd.DataFrame): 주가 데이터프레임 (각 열은 티커, 각 행은 날짜)
        volume_df (pd.DataFrame): 거래량 데이터프레임 (각 열은 티커, 각 행은 날짜)

    Returns:
        pd.DataFrame: 티커와 월별 VWAP가 포함된 데이터프레임
    """
    # 'Date' 열을 datetime 형식으로 변환
    close_df['Date'] = pd.to_datetime(close_df['Date'])
    volume_df['Date'] = pd.to_datetime(volume_df['Date'])

    # 'Date' 열을 인덱스로 설정
    close_df.set_index('Date', inplace=True)
    volume_df.set_index('Date', inplace=True)

    # 월별로 그룹화
    close_df_monthly = close_df.resample('M').sum()
    volume_df_monthly = volume_df.resample('M').sum()

    # 모든 티커 목록 가져오기
    tickers = close_df.columns
    monthly_vwap_dict = {ticker: [] for ticker in tickers}

    # 각 티커에 대해 월별 VWAP 계산
    for ticker in tickers:
        for date in close_df_monthly.index:
            # (가격 * 거래량)의 합과 총 거래량 계산
            pv_sum = (close_df_monthly.loc[date, ticker] * volume_df_monthly.loc[date, ticker])
            volume_sum = volume_df_monthly.loc[date, ticker]

            # VWAP 계산
            if volume_sum != 0:
                vwap = pv_sum / volume_sum
            else:
                vwap = 0

            monthly_vwap_dict[ticker].append((date, vwap))

    # 결과를 데이터프레임으로 변환
    monthly_vwap_df = pd.DataFrame([(ticker, date, vwap) for ticker, values in monthly_vwap_dict.items() for date, vwap in values],
                                   columns=['Ticker', 'Date', 'VWAP'])

    return monthly_vwap_df

# 예제 데이터 (실제 데이터는 파일에서 읽어올 수 있습니다)
close_data = close.copy()

volume_data = volume.copy()

# 데이터프레임 생성
close_df = pd.DataFrame(close_data)
volume_df = pd.DataFrame(volume_data)

# VWAP 계산
monthly_vwap_df = calculate_monthly_vwap(close_df, volume_df)

# 결과 출
print(monthly_vwap_df)

     Ticker       Date         VWAP
0       AFL 2019-04-30  1033.589995
1       AFL 2019-05-31  1126.060007
2       AFL 2019-06-30  1088.309999
3       AFL 2019-07-31  1218.389994
4       AFL 2019-08-31  1125.560000
...     ...        ...          ...
2435    XOM 2023-12-31  2015.530022
2436    XOM 2024-01-31  2107.099989
2437    XOM 2024-02-29  2062.249990
2438    XOM 2024-03-31  2212.979982
2439    XOM 2024-04-30  2519.720001

[2440 rows x 3 columns]

In [20]:
monthly_vwap_df['Date'] = pd.to_datetime(monthly_vwap_df['Date'])

vwap = monthly_vwap_df.pivot(index='Date', columns='Ticker', values='VWAP')

vwap

Ticker,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,CL,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2019-04-30,1033.589995,1716.000008,1158.429997,4115.830015,2113.140004,1114.230004,641.839998,1862.440010,1847.790008,1448.470001,...,2438.269999,7329.380037,4535.469987,3029.520018,1443.300003,1696.610007,2218.200013,706.296665,2419.069994,1713.319992
2019-05-31,1126.060007,1542.930011,1031.919984,4519.669997,2243.309998,1142.550002,699.519998,1792.350019,2137.160002,1567.379990,...,2445.559990,7773.210050,4728.130005,3039.770018,1616.030007,1663.449997,2286.179976,743.299998,2602.599999,1660.719996
2019-06-30,1088.309999,1391.350006,898.810006,4406.709976,2094.180009,1105.359992,656.070007,1644.030000,2060.969993,1456.459998,...,2298.339996,7258.279998,4497.079986,2807.729999,1424.199989,1730.659994,2122.979993,721.566675,2414.580016,1502.869979
2019-07-31,1218.389994,1594.470008,991.830006,5017.069995,2362.989999,1228.810001,773.870000,1848.169999,2354.820008,1612.619979,...,2586.079991,8231.249971,5267.939973,3233.460006,1565.409980,1926.950012,2439.159981,827.813334,2780.369996,1669.379996
2019-08-31,1125.560000,1425.149990,999.609997,4959.839948,2404.779996,1248.210005,792.370001,1833.250008,2401.700011,1583.430008,...,2446.620010,7814.359987,5635.770004,2976.280000,1582.280006,2007.609996,2375.910015,808.823334,3145.639999,1527.379988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31,1642.580010,2747.059990,1592.759994,5389.299957,2294.409997,1149.339998,1447.989998,1708.159988,2059.580015,1563.529989,...,2938.459977,10815.699953,8607.160005,1920.439987,1469.690003,2757.580002,2088.120016,1029.486667,7033.259980,2015.530022
2024-01-31,1755.320006,2658.059959,1688.290009,5545.599991,2416.349996,1162.889999,1561.420019,1819.259985,2292.209992,1705.120010,...,3028.189970,11341.180053,9231.850035,2002.720008,1591.029994,2956.910018,2278.239990,1130.513333,7380.779966,2107.099989
2024-02-29,1575.789995,2376.929993,1608.189994,4567.960007,2262.920006,1151.229993,1631.919997,1476.079993,2225.909997,1696.000003,...,2817.590011,10932.399964,8714.470033,1780.449988,1604.319998,2960.809967,2187.660013,1148.286671,7589.079987,2062.249990
2024-03-31,1669.640009,2475.670013,1734.479995,4833.080032,2317.250008,1082.680000,1710.510001,1474.149987,2364.019996,1767.229980,...,2823.299989,11007.840089,8493.060029,1838.770004,1611.559990,3362.240019,2347.010009,1211.469994,7594.890075,2212.979982
2024-04-30,1744.830000,2542.800004,1814.510012,4944.250003,2441.239990,1045.419998,1743.339997,1490.850004,2498.539994,1844.779992,...,2849.190005,11263.570006,8819.769959,1935.530007,1619.420006,3543.490019,2401.560020,1256.279994,8012.769961,2519.720001

In [21]:
vwap.columns

Index(['AFL', 'ALB', 'AOS', 'APD', 'ATO', 'BF-B', 'BRO', 'CHRW', 'CINF', 'CL',
       'CLX', 'CVX', 'DOV', 'ESS', 'EXPD', 'FRT', 'GWW', 'HRL', 'IBM', 'ITW',
       'JNJ', 'KMB', 'KO', 'LOW', 'MKC', 'MMM', 'NUE', 'NVDA', 'O', 'PNR',
       'PPG', 'ROP', 'SPGI', 'SWK', 'SYY', 'TGT', 'TROW', 'WMT', 'WST', 'XOM'],
      dtype='object', name='Ticker')

In [22]:
vwap.index = pd.to_datetime(vwap.index).to_period('M').astype(str)

vwap.head()

Ticker,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,CL,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2019-04,1033.589995,1716.000008,1158.429997,4115.830015,2113.140004,1114.230004,641.839998,1862.440010,1847.790008,1448.470001,...,2438.269999,7329.380037,4535.469987,3029.520018,1443.300003,1696.610007,2218.200013,706.296665,2419.069994,1713.319992
2019-05,1126.060007,1542.930011,1031.919984,4519.669997,2243.309998,1142.550002,699.519998,1792.350019,2137.160002,1567.379990,...,2445.559990,7773.210050,4728.130005,3039.770018,1616.030007,1663.449997,2286.179976,743.299998,2602.599999,1660.719996
2019-06,1088.309999,1391.350006,898.810006,4406.709976,2094.180009,1105.359992,656.070007,1644.030000,2060.969993,1456.459998,...,2298.339996,7258.279998,4497.079986,2807.729999,1424.199989,1730.659994,2122.979993,721.566675,2414.580016,1502.869979
2019-07,1218.389994,1594.470008,991.830006,5017.069995,2362.989999,1228.810001,773.870000,1848.169999,2354.820008,1612.619979,...,2586.079991,8231.249971,5267.939973,3233.460006,1565.409980,1926.950012,2439.159981,827.813334,2780.369996,1669.379996
2019-08,1125.560000,1425.149990,999.609997,4959.839948,2404.779996,1248.210005,792.370001,1833.250008,2401.700011,1583.430008,...,2446.620010,7814.359987,5635.770004,2976.280000,1582.280006,2007.609996,2375.910015,808.823334,3145.639999,1527.379988

In [23]:
output_path = 'vwap.csv' 
vwap.to_csv(output_path, index=True)

In [24]:
check = pd.read_csv('vwap.csv')

check

,Date,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,2019-04,1033.589995,1716.000008,1158.429997,4115.830015,2113.140004,1114.230004,641.839998,1862.440010,1847.790008,...,2438.269999,7329.380037,4535.469987,3029.520018,1443.300003,1696.610007,2218.200013,706.296665,2419.069994,1713.319992
1,2019-05,1126.060007,1542.930011,1031.919984,4519.669997,2243.309998,1142.550002,699.519998,1792.350019,2137.160002,...,2445.559990,7773.210050,4728.130005,3039.770018,1616.030007,1663.449997,2286.179976,743.299998,2602.599999,1660.719996
2,2019-06,1088.309999,1391.350006,898.810006,4406.709976,2094.180009,1105.359992,656.070007,1644.030000,2060.969993,...,2298.339996,7258.279998,4497.079986,2807.729999,1424.199989,1730.659994,2122.979993,721.566675,2414.580016,1502.869979
3,2019-07,1218.389994,1594.470008,991.830006,5017.069995,2362.989999,1228.810001,773.870000,1848.169999,2354.820008,...,2586.079991,8231.249971,5267.939973,3233.460006,1565.409980,1926.950012,2439.159981,827.813334,2780.369996,1669.379996
4,2019-08,1125.560000,1425.149990,999.609997,4959.839948,2404.779996,1248.210005,792.370001,1833.250008,2401.700011,...,2446.620010,7814.359987,5635.770004,2976.280000,1582.280006,2007.609996,2375.910015,808.823334,3145.639999,1527.379988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-12,1642.580010,2747.059990,1592.759994,5389.299957,2294.409997,1149.339998,1447.989998,1708.159988,2059.580015,...,2938.459977,10815.699953,8607.160005,1920.439987,1469.690003,2757.580002,2088.120016,1029.486667,7033.259980,2015.530022
57,2024-01,1755.320006,2658.059959,1688.290009,5545.599991,2416.349996,1162.889999,1561.420019,1819.259985,2292.209992,...,3028.189970,11341.180053,9231.850035,2002.720008,1591.029994,2956.910018,2278.239990,1130.513333,7380.779966,2107.099989
58,2024-02,1575.789995,2376.929993,1608.189994,4567.960007,2262.920006,1151.229993,1631.919997,1476.079993,2225.909997,...,2817.590011,10932.399964,8714.470033,1780.449988,1604.319998,2960.809967,2187.660013,1148.286671,7589.079987,2062.249990
59,2024-03,1669.640009,2475.670013,1734.479995,4833.080032,2317.250008,1082.680000,1710.510001,1474.149987,2364.019996,...,2823.299989,11007.840089,8493.060029,1838.770004,1611.559990,3362.240019,2347.010009,1211.469994,7594.890075,2212.979982
60,2024-04,1744.830000,2542.800004,1814.510012,4944.250003,2441.239990,1045.419998,1743.339997,1490.850004,2498.539994,...,2849.190005,11263.570006,8819.769959,1935.530007,1619.420006,3543.490019,2401.560020,1256.279994,8012.769961,2519.720001

In [25]:
close

,Date,AFL,ALB,AOS,APD,ATO,BF-B,BRO,CHRW,CINF,...,PPG,ROP,SPGI,SWK,SYY,TGT,TROW,WMT,WST,XOM
0,2019-04-01,49.880001,84.199997,53.990002,191.490005,102.070000,53.590000,29.799999,88.300003,86.309998,...,114.220001,347.929993,212.899994,139.509995,66.779999,79.970001,103.300003,32.606667,111.779999,81.730003
1,2019-04-02,49.250000,82.900002,54.049999,190.479996,100.169998,52.900002,29.660000,88.489998,85.519997,...,114.239998,348.269989,213.220001,139.300003,66.330002,79.459999,103.269997,32.313332,111.269997,81.379997
2,2019-04-03,48.759998,84.209999,54.500000,191.720001,101.510002,52.660000,29.750000,88.699997,85.470001,...,114.580002,347.000000,213.600006,140.750000,66.470001,79.309998,103.300003,32.396667,111.800003,80.900002
3,2019-04-04,48.779999,85.550003,54.820000,191.770004,100.639999,53.090000,29.940001,89.230003,85.650002,...,115.000000,345.160004,212.649994,142.940002,66.860001,81.379997,103.010002,32.703335,111.860001,82.050003
4,2019-04-05,49.000000,86.139999,55.169998,193.190002,101.529999,53.220001,29.930000,89.459999,86.220001,...,114.959999,345.489990,214.529999,142.789993,67.139999,80.940002,104.440002,32.943333,112.870003,82.489998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,2024-04-23,83.750000,114.209999,87.919998,233.710007,117.669998,49.389999,82.930000,70.349998,120.830002,...,130.429993,539.619995,413.260010,90.739998,76.959999,166.509995,111.940002,59.090000,390.200012,121.029999
1275,2024-04-24,84.279999,115.269997,87.000000,234.679993,118.660004,49.009998,82.129997,70.940002,119.919998,...,130.520004,538.010010,413.279999,90.269997,77.290001,165.339996,111.059998,59.869999,385.730011,121.050003
1276,2024-04-25,83.730003,114.980003,82.820000,235.080002,118.169998,48.110001,82.279999,70.260002,118.440002,...,129.229996,540.409973,415.500000,88.830002,77.070000,164.440002,108.830002,60.209999,368.179993,121.330002
1277,2024-04-26,83.610001,116.879997,83.209999,236.080002,116.930000,48.130001,81.459999,70.220001,110.879997,...,130.160004,526.780029,415.779999,89.709999,77.070000,164.740005,114.019997,60.160000,360.429993,117.959999
1278,2024-04-29,84.540001,125.730003,84.309998,238.119995,118.639999,48.689999,81.540001,71.699997,113.550003,...,130.740005,513.580017,415.309998,90.959999,77.220001,163.729996,112.080002,60.240002,354.410004,119.639999